<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Boggle!</title>
</head>
<body>
    <h1>Boggle!</h1>
    <br>
    <div class="high_score"><b>High Score:</b> {{ high_score }} in {{ num_games }} games </div>
    <br>
    <div class="stats">
        <div id="score" class="upper">Score: <span class="score">0</span></div>
        <div id="blank"></div>
        <div id="time_left" class="upper">Time Left: <span class="timer">60</span></div>
    </div>

    <p class="msg upper"></p>

    <section id="boggle_board">
            <table id="board">
                <tbody>
                    {% for row in board %}
                        <tr>
                            {% for cell in row %}
                                <td>
                                    {{ cell }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        <form method="post" class="add-word">
            <input type="text" name="word" placeholder="Try word here!" class="word" autofocus>
            <button>Submit!</button>
        </form>

        <ul class="words"></ul>
    </section>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>